.blog-articles {
  
  grid-gap: 1rem;
}

@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr;
  }

  .blog-articles--collage > *:nth-child(3n + 1),
  .blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small {
    padding-bottom: 22rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium {
    padding-bottom: 44rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large {
    padding-bottom: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large {
    padding-bottom: 82.5rem;
  }
}


/*breadcrumbs*/
.breadcrumbs {
  margin: 0;
}

.breadcrumbs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-child):after {
  border-style: solid;
  border-width: .10em .10em 0 0;
  content: '';
  height: .20em;
  margin: 0 .20em;
  position: relative;
  transform: rotate(45deg);
  vertical-align: middle;
  width: .20em;
}

.breadcrumbs__link {
  text-decoration: underline;
}

.breadcrumbs__link[aria-current="page"] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

.breadcrumbs__link[aria-current="page"]:focus,
.breadcrumbs__link[aria-current="page"]:hover{
  text-decoration: underline;
}

.post_date { 
  display: flex;
  padding-top: .8rem;
  height: 7.5rem;
  background-color: #408de4;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 3.6rem;
  color: #fff;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 15px;
}

.main-blog {
  padding-left: 100px;
  padding-top: 80px;
}